pkgbase = zcode-bin
	pkgdesc = ZCode - AI-powered code editor by CodeGeeX
	pkgver = 3.0.1
	pkgrel = 1
	url = https://zcode.z.ai/
	install = zcode-bin.install
	arch = x86_64
	license = MIT
	license = custom:ZCode
	makedepends = npm
	makedepends = p7zip
	makedepends = unzip
	depends = zlib
	depends = hicolor-icon-theme
	depends = ripgrep
	options = !strip
	source = electron-v41.0.3-linux-x64.zip::https://github.com/electron/electron/releases/download/v41.0.3/electron-v41.0.3-linux-x64.zip
	source = ZCode-3.0.1-mac-arm64.dmg::https://cdn.zcode-ai.com/zcode/electron/releases/3.0.1/ZCode-3.0.1-mac-arm64.dmg
	source = zcode.desktop
	source = zcode-bin.install
	source = LICENSE
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = zcode-bin
